extends ../layout

block head
    meta(http-equiv="refresh", content="10")

block content

    .container-fluid

        h2 Admin

        .row
            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Track Votes
                    table.table-striped.table-condensed
                        thead
                            tr
                                th Track
                                th Upvotes
                                th Downvotes
                                th Deleted
                        tbody
                            each vote in votes
                                tr
                                    td= vote.track
                                    td= vote.vote_positive
                                    td= vote.vote_negative
                                    td= vote.deleted ? 'Del' : ''
            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Volume Votes
                    table.table-striped.table-condensed
                        thead
                            tr
                                th Time
                                th Vote
                        tbody
                            each vote in volumeVotes
                                tr
                                    td= moment(vote.date).format('HH:mm')
                                    td= vote.vote ? 'Louder' : 'Quieter'



