extends ../layout

block head
    meta(http-equiv="refresh", content="10")

block content

    .container-fluid
        br
        .row
            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Action Logs
                    table.table-striped.table-condensed
                        thead
                            tr
                                th Date
                                th Message
                        tbody
                            each log in actionLogs
                                tr
                                    td= moment(log.createdAt).format('HH:mm:ss')
                                    td= log.message
            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Track Votes
                    table.table-striped.table-condensed
                        thead
                            tr
                                th Track
                                th Upvotes
                                th Downvotes
                                th Deleted
                        tbody
                            each vote in votes
                                tr
                                    td= vote.track
                                    td= vote.vote_positive
                                    td= vote.vote_negative
                                    td.text-center
                                        if vote.deleted
                                            i.fa.fa-times
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Volume Votes
                    table.table-striped.table-condensed
                        thead
                            tr
                                th Time
                                th Vote
                        tbody
                            each vote in volumeVotes
                                tr
                                    td= moment(vote.date).format('HH:mm')
                                    td= vote.vote ? 'Louder' : 'Quieter'



