extends ../layout

block nav
    include ../nav.jade

block content
    .wrapper
        .list
            each entry, index in playlist.items
                .item
                    if currentSong.uri == entry.track.uri
                        a.item-swipe.active
                            img.cover-thumbnail(src=entry.track.album.images[0].url)
                            p=entry.track.name + ' (currently playing)'
                            p=entry.track.artists.map(a => a.name).join(', ')
                    else
                        a.item-swipe
                            img.cover-thumbnail(src=entry.track.album.images[0].url)
                            p=entry.track.name
                            p=entry.track.artists.map(a => a.name).join(', ')
                    i.fa.fa-tasks.close
                    .item-back
                        a.action.first.btn-dislike(href="/downvote/" + entry.track.uri)
                            i.fa(class=(voted[entry.track.uri] == 'down' ? 'fa-thumbs-down' : 'fa-thumbs-o-down'))
                        a.action.second.btn-like(href="/upvote/" + entry.track.uri)
                            i.fa(class=(voted[entry.track.uri] == 'up' ? 'fa-heart' : 'fa-heart-o'))
